html.sr .load-hidden {
    visibility: hidden;
}

@font-face {
    font-family: Inter UI;
    src: url(../fonts/Inter-Regular.woff);
  }

  @font-face {
    font-family: Inter UI;
    src: url(../fonts/Inter-SemiBold.woff);
    font-weight: bold;
  }

body {
    background: #fff;
    font-family: 'Inter UI', sans-serif;
    font-size: 16px;
    color: #1B0FF7;
    @media (prefers-color-scheme: dark) {
        background: #000;
    }
}

.jumbo {
    font-size: 72px;
    font-weight: bold;
    margin-bottom: 48px;
    background: -webkit-linear-gradient(45deg, #5048F1, #A93CEA);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1 {
    font-size: 36px;
    margin-bottom: 12px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

.sub {
    font-family: AvenirNext-DemiBold;
    font-size: 16px;
    letter-spacing: 5.4px;
    text-transform: uppercase;
    margin-bottom: 12px;
}

a {
    text-decoration: none;
    color: #1B0FF7;
    @media (prefers-color-scheme: dark) {
        color: #fff;
    }
}

a:hover {
    color: #1B0FF7;
    text-decoration: none;
    @media (prefers-color-scheme: dark) {
        color: #fff;
    }
}

.primary-btn {
    font-size: 20px;
    font-weight: regular;
}

.site-container {
    height: 100vh;
    padding-bottom: 20%;
}

.expand {
    letter-spacing: 8px;
    -webkit-transition: all 5s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition:         all 5s cubic-bezier(0.165, 0.84, 0.44, 1); 
}

.move {
    display: inline-block;
    &:hover {
        transform: translateX(10px);
    }
}